# Imports + Paths

In [1]:
import pandas as pd
from pathlib import Path
import re
import numpy as np

# cartelle (relative al notebook che sta in /notebooks)
OUTPUT_DIR = Path("../output")
PROCESSED_DIR = Path("../data/processed")

# crea data/processed se non esiste
PROCESSED_DIR.mkdir(parents=True, exist_ok=True)

print("OUTPUT_DIR:", OUTPUT_DIR.resolve())
print("PROCESSED_DIR:", PROCESSED_DIR.resolve())
print("Files in output:", [p.name for p in OUTPUT_DIR.glob("*.csv")])

OUTPUT_DIR: /Users/darioonsori/esco-project/output
PROCESSED_DIR: /Users/darioonsori/esco-project/data/processed
Files in output: ['skills.csv', 'occupations.csv', 'occupation_skill.csv']

# Load standardized CSV

In [2]:
occ = pd.read_csv(OUTPUT_DIR / "occupations.csv")
skills = pd.read_csv(OUTPUT_DIR / "skills.csv")
rel = pd.read_csv(OUTPUT_DIR / "occupation_skill.csv")

print("occ columns:", list(occ.columns))
print("skills columns:", list(skills.columns))
print("rel columns:", list(rel.columns))

print("occ rows:", len(occ))
print("skills rows:", len(skills))
print("rel rows:", len(rel))

occ.head()

occ columns: ['occupation_id', 'occupation_label']
skills columns: ['skill_id', 'skill_label', 'skill_type']
rel columns: ['occupation_id', 'skill_id', 'relation']
occ rows: 3043
skills rows: 13960
rel rows: 126051

,occupation_id,occupation_label
0,http://data.europa.eu/esco/occupation/00030d09...,technical director
1,http://data.europa.eu/esco/occupation/000e93a3...,metal drawing machine operator
2,http://data.europa.eu/esco/occupation/0019b951...,precision device inspector
3,http://data.europa.eu/esco/occupation/0022f466...,air traffic safety technician
4,http://data.europa.eu/esco/occupation/002da35b...,hospitality revenue manager

# STEP A: trova le skill “AI-related”

In [3]:
# ---- STEP A: trova le skill "AI-related"

pattern_skill = re.compile(
    r"\b(?:"
    r"artificial intelligence|machine learning|deep learning|neural|nlp|natural language|"
    r"computer vision|data mining|data science|big data|"
    r"reinforcement learning|classification|clustering|"
    r"predictive model|statistics|pattern recognition"
    r")\b",
    re.I
)
ai_skills = skills[
    skills["skill_label"].fillna("").str.contains(pattern_skill)
].copy()

print("AI-related skills:", len(ai_skills))
ai_skills.head()

AI-related skills: 25

,skill_id,skill_label,skill_type
164,http://data.europa.eu/esco/skill/03a74eee-2dc6...,manage ICT data classification,skill/competence
2059,http://data.europa.eu/esco/skill/25f0ea33-b4a2...,data mining,knowledge
2812,http://data.europa.eu/esco/skill/32bbd1de-4995...,fish identification and classification,knowledge
3191,http://data.europa.eu/esco/skill/3a2d5b45-56e4...,machine learning,knowledge
3612,http://data.europa.eu/esco/skill/4216e465-7baa...,perform data mining,skill/competence

# STEP B: prendi le relazioni che usano quelle skill

In [4]:
ai_rel = rel[rel["skill_id"].isin(ai_skills["skill_id"])].copy()
print("AI relations:", len(ai_rel))
ai_rel.head()

AI relations: 409

,occupation_id,skill_id,relation
154,http://data.europa.eu/esco/occupation/002da35b...,http://data.europa.eu/esco/skill/4f060129-8b75...,essential
180,http://data.europa.eu/esco/occupation/0044c991...,http://data.europa.eu/esco/skill/841ec8d9-ff33...,essential
501,http://data.europa.eu/esco/occupation/0085f271...,http://data.europa.eu/esco/skill/7ee4c2ea-b349...,optional
993,http://data.europa.eu/esco/occupation/01a83071...,http://data.europa.eu/esco/skill/7ee4c2ea-b349...,optional
1485,http://data.europa.eu/esco/occupation/02bd7cac...,http://data.europa.eu/esco/skill/32bbd1de-4995...,essential

In [5]:
# occupazioni coinvolte (prima versione)
ai_occ_all = occ[occ["occupation_id"].isin(ai_rel["occupation_id"])].copy()

# quante AI-skill ha ogni occupation (conteggio relazioni)
occ_ai_counts = (
    ai_rel.groupby("occupation_id").size().reset_index(name="n_ai_links")
)

# raffinamento: almeno 2 link a skill AI (puoi mettere 3 se vuoi più precisione)
ai_occ = (
    ai_occ_all.merge(occ_ai_counts, on="occupation_id", how="left")
              .query("n_ai_links >= 2")
              .copy()
)

print("AI occupations refined:", len(ai_occ))
ai_occ[["occupation_label","n_ai_links"]].sort_values("n_ai_links", ascending=False).head(20)

AI occupations refined: 57

                                  occupation_label  n_ai_links
58                artificial intelligence engineer           9
31                        computer vision engineer           7
157  microelectronics smart manufacturing engineer           7
248            microelectronics materials engineer           6
106             electric power generation engineer           5
44                                  data scientist           5
233                                   data analyst           5
195                    power distribution engineer           5
116                maintenance and repair engineer           5
7                    marine engineering technician           4
196                                   statistician           4
109                                naval architect           4
129                                  IoT developer           4
21                       renewable energy engineer           4
140                        solar energy technician           4
141                     electromechanical engineer           4
232                          statistical assistant           4
244                             computer scientist           4
96        electromechanical engineering technician           4
156                             knowledge engineer           4

 # IMPORTANTISSIMO: riallinea ai_rel al refined

In [6]:
ai_rel = ai_rel[ai_rel["occupation_id"].isin(ai_occ["occupation_id"])].copy()
ai_skills = ai_skills[ai_skills["skill_id"].isin(ai_rel["skill_id"])].copy()

print("Final ai_occ:", len(ai_occ))
print("Final ai_rel:", len(ai_rel))
print("Final ai_skills:", len(ai_skills))

Final ai_occ: 57
Final ai_rel: 198
Final ai_skills: 20

# Save subset base

In [7]:
ai_occ.to_csv(PROCESSED_DIR / "ai_occupations.csv", index=False)
ai_rel.to_csv(PROCESSED_DIR / "ai_links.csv", index=False)
ai_skills.to_csv(PROCESSED_DIR / "ai_skills.csv", index=False)

print("Saved base subset in:", PROCESSED_DIR.resolve())

Saved base subset in: /Users/darioonsori/esco-project/data/processed

# Edges labeled (per D3)

In [8]:
# --- aggiungi labels alle relazioni (comodo per D3) ---
ai_edges = (
    ai_rel
    .merge(ai_occ[["occupation_id","occupation_label"]], on="occupation_id", how="left")
    .merge(ai_skills[["skill_id","skill_label","skill_type"]], on="skill_id", how="left")
)

ai_edges.to_csv(PROCESSED_DIR / "ai_edges_labeled.csv", index=False)
ai_edges.head()

,occupation_id,skill_id,relation,occupation_label,skill_label,skill_type
0,http://data.europa.eu/esco/occupation/04849c5c...,http://data.europa.eu/esco/skill/25f0ea33-b4a2...,optional,marine engineering technician,data mining,knowledge
1,http://data.europa.eu/esco/occupation/04849c5c...,http://data.europa.eu/esco/skill/4216e465-7baa...,optional,marine engineering technician,perform data mining,skill/competence
2,http://data.europa.eu/esco/occupation/04849c5c...,http://data.europa.eu/esco/skill/47a49cd6-097d...,optional,marine engineering technician,analyse big data,skill/competence
3,http://data.europa.eu/esco/occupation/04849c5c...,http://data.europa.eu/esco/skill/8369c2d6-c100...,optional,marine engineering technician,utilise machine learning,skill/competence
4,http://data.europa.eu/esco/occupation/0e99c929...,http://data.europa.eu/esco/skill/25f0ea33-b4a2...,optional,renewable energy engineer,data mining,knowledge

# Aggregati per grafici

In [9]:
skills_by_count = (
    ai_edges.groupby(["skill_id","skill_label","skill_type"], dropna=False)
    .size()
    .reset_index(name="n_occurrences")
    .sort_values("n_occurrences", ascending=False)
)

skills_by_count.to_csv(PROCESSED_DIR / "viz_top_skills.csv", index=False)
skills_by_count.head(20)

,skill_id,skill_label,skill_type,n_occurrences
7,http://data.europa.eu/esco/skill/47a49cd6-097d...,analyse big data,skill/competence,33
1,http://data.europa.eu/esco/skill/25f0ea33-b4a2...,data mining,knowledge,31
4,http://data.europa.eu/esco/skill/4216e465-7baa...,perform data mining,skill/competence,25
14,http://data.europa.eu/esco/skill/8369c2d6-c100...,utilise machine learning,skill/competence,24
13,http://data.europa.eu/esco/skill/7ee4c2ea-b349...,statistics,knowledge,20
18,http://data.europa.eu/esco/skill/edebd83d-35f6...,data science,knowledge,13
16,http://data.europa.eu/esco/skill/e465a154-93f7...,principles of artificial intelligence,knowledge,13
3,http://data.europa.eu/esco/skill/3a2d5b45-56e4...,machine learning,knowledge,8
10,http://data.europa.eu/esco/skill/4f060129-8b75...,develop financial statistics reports,skill/competence,6
11,http://data.europa.eu/esco/skill/5608d5a0-6d5e...,artificial neural networks,knowledge,5
0,http://data.europa.eu/esco/skill/03a74eee-2dc6...,manage ICT data classification,skill/competence,4
6,http://data.europa.eu/esco/skill/4754d9fe-dc3a...,develop computer vision system,skill/competence,3
15,http://data.europa.eu/esco/skill/9effa3d7-c0c4...,data mining methods,knowledge,3
12,http://data.europa.eu/esco/skill/7b0d5000-00da...,computer vision,knowledge,2
17,http://data.europa.eu/esco/skill/ecc4552a-92c5...,deep learning,knowledge,2
19,http://data.europa.eu/esco/skill/fff0e2cd-d0bd...,natural language processing,knowledge,2
9,http://data.europa.eu/esco/skill/4d3f3068-9b6a...,medical statistics,knowledge,1
8,http://data.europa.eu/esco/skill/49812c2d-3a36...,develop classification systems,skill/competence,1
5,http://data.europa.eu/esco/skill/4262ddf4-4985...,medication classification,knowledge,1
2,http://data.europa.eu/esco/skill/32bbd1de-4995...,fish identification and classification,knowledge,1

In [10]:
rel_type_dist = (
    ai_edges["relation"].fillna("unknown").value_counts()
    .reset_index()
)
rel_type_dist.columns = ["relation", "count"]

rel_type_dist.to_csv(PROCESSED_DIR / "viz_relation_distribution.csv", index=False)
rel_type_dist

    relation  count
0   optional    117
1  essential     81

In [11]:
occ_skill_counts = (
    ai_edges.groupby(["occupation_id","occupation_label"], dropna=False)
    .agg(
        n_skills=("skill_id","nunique"),
        n_essential=("relation", lambda s: (s=="essential").sum()),
        n_optional=("relation", lambda s: (s=="optional").sum()),
    )
    .reset_index()
    .sort_values("n_skills", ascending=False)
)

occ_skill_counts.to_csv(PROCESSED_DIR / "viz_occupation_skill_counts.csv", index=False)
occ_skill_counts.head(20)

,occupation_id,occupation_label,n_skills,n_essential,n_optional
11,http://data.europa.eu/esco/occupation/35553663...,artificial intelligence engineer,9,5,4
2,http://data.europa.eu/esco/occupation/1c5a45b9...,computer vision engineer,7,5,2
35,http://data.europa.eu/esco/occupation/82616669...,microelectronics smart manufacturing engineer,7,7,0
52,http://data.europa.eu/esco/occupation/e6dfc67e...,microelectronics materials engineer,6,6,0
21,http://data.europa.eu/esco/occupation/58db3ac6...,electric power generation engineer,5,0,5
7,http://data.europa.eu/esco/occupation/258e46f9...,data scientist,5,3,2
48,http://data.europa.eu/esco/occupation/d3edb8f8...,data analyst,5,5,0
41,http://data.europa.eu/esco/occupation/ac37627c...,power distribution engineer,5,0,5
24,http://data.europa.eu/esco/occupation/615920c5...,maintenance and repair engineer,5,0,5
0,http://data.europa.eu/esco/occupation/04849c5c...,marine engineering technician,4,0,4
42,http://data.europa.eu/esco/occupation/ac8b3cd1...,statistician,4,2,2
22,http://data.europa.eu/esco/occupation/5a58da2b...,naval architect,4,0,4
27,http://data.europa.eu/esco/occupation/6ce5f7e3...,IoT developer,4,4,0
1,http://data.europa.eu/esco/occupation/0e99c929...,renewable energy engineer,4,0,4
29,http://data.europa.eu/esco/occupation/75b63949...,solar energy technician,4,0,4
30,http://data.europa.eu/esco/occupation/77abfaec...,electromechanical engineer,4,0,4
47,http://data.europa.eu/esco/occupation/d2e63d7e...,statistical assistant,4,1,3
50,http://data.europa.eu/esco/occupation/e3229e40...,computer scientist,4,1,3
17,http://data.europa.eu/esco/occupation/51c7015c...,electromechanical engineering technician,4,0,4
34,http://data.europa.eu/esco/occupation/812c217d...,knowledge engineer,4,3,1

# heatmap top30

In [12]:
# scegliamo top 30 skills e top 30 occupations (poi regoliamo)
top_skills = skills_by_count.head(30)["skill_id"]
top_occ = occ_skill_counts.head(30)["occupation_id"]

heat = (
    ai_edges[ai_edges["skill_id"].isin(top_skills) & ai_edges["occupation_id"].isin(top_occ)]
    .groupby(["occupation_label","skill_label"], dropna=False)
    .size()
    .reset_index(name="value")
)

heat.to_csv(PROCESSED_DIR / "viz_heat_occ_skill_top30.csv", index=False)
heat.head()

,occupation_label,skill_label,value
0,IoT developer,analyse big data,1
1,IoT developer,machine learning,1
2,IoT developer,principles of artificial intelligence,1
3,IoT developer,utilise machine learning,1
4,artificial intelligence engineer,analyse big data,1

# network nodes + links

In [13]:
# nodes occupations
nodes_occ = ai_occ.rename(columns={"occupation_id":"id","occupation_label":"label"}).copy()
nodes_occ["node_type"] = "occupation"

# nodes skills
nodes_skill = ai_skills.rename(columns={"skill_id":"id","skill_label":"label"}).copy()
nodes_skill["node_type"] = "skill"
if "skill_type" not in nodes_skill.columns:
    nodes_skill["skill_type"] = None

nodes = pd.concat([
    nodes_occ[["id","label","node_type"]],
    nodes_skill[["id","label","node_type"]]
], ignore_index=True)

links = ai_rel.rename(columns={"occupation_id":"source","skill_id":"target"}).copy()

nodes.to_csv(PROCESSED_DIR / "viz_network_nodes.csv", index=False)
links.to_csv(PROCESSED_DIR / "viz_network_links.csv", index=False)

nodes.head(), links.head()

(                                                  id  \
 0  http://data.europa.eu/esco/occupation/04849c5c...
 1  http://data.europa.eu/esco/occupation/0e99c929...
 2  http://data.europa.eu/esco/occupation/1c5a45b9...
 3  http://data.europa.eu/esco/occupation/1d196f32...
 4  http://data.europa.eu/esco/occupation/1e2aaeff...

                            label   node_type
 0  marine engineering technician  occupation
 1      renewable energy engineer  occupation
 2       computer vision engineer  occupation
 3  marine electronics technician  occupation
 4      electromechanical drafter  occupation  ,
                                                  source  \
 2627  http://data.europa.eu/esco/occupation/04849c5c...
 2662  http://data.europa.eu/esco/occupation/04849c5c...
 2666  http://data.europa.eu/esco/occupation/04849c5c...
 2675  http://data.europa.eu/esco/occupation/04849c5c...
 7926  http://data.europa.eu/esco/occupation/0e99c929...

                                                  target  relation
 2627  http://data.europa.eu/esco/skill/25f0ea33-b4a2...  optional
 2662  http://data.europa.eu/esco/skill/4216e465-7baa...  optional
 2666  http://data.europa.eu/esco/skill/47a49cd6-097d...  optional
 2675  http://data.europa.eu/esco/skill/8369c2d6-c100...  optional
 7926  http://data.europa.eu/esco/skill/25f0ea33-b4a2...  optional  )

In [14]:
[p.name for p in PROCESSED_DIR.glob("*.csv")]

['ai_skills.csv',
 'ai_occupations.csv',
 'viz_relation_distribution.csv',
 'viz_occupation_skill_counts.csv',
 'viz_heat_occ_skill_top30.csv',
 'ai_links.csv',
 'viz_network_links.csv',
 'viz_network_nodes.csv',
 'ai_edges_labeled.csv',
 'viz_top_skills.csv']

In [15]:
from pathlib import Path
import shutil

WEB_DATA_DIR = Path("../web/data")
WEB_DATA_DIR.mkdir(parents=True, exist_ok=True)

files_to_publish = [
    "ai_skills.csv",
    "ai_occupations.csv",
    "ai_links.csv",
    "ai_edges_labeled.csv",
    "viz_network_nodes.csv",
    "viz_network_links.csv",
    "viz_top_skills.csv",
    "viz_relation_distribution.csv",
    "viz_occupation_skill_counts.csv",
    "viz_heat_occ_skill_top30.csv",
]

for fname in files_to_publish:
    src = PROCESSED_DIR / fname
    dst = WEB_DATA_DIR / fname
    if src.exists():
        shutil.copy2(src, dst)
    else:
        print("MISSING:", src)

print("Published to:", WEB_DATA_DIR.resolve())
print([p.name for p in WEB_DATA_DIR.glob("*.csv")])

Published to: /Users/darioonsori/esco-project/web/data
['ai_skills.csv', 'ai_occupations.csv', 'viz_relation_distribution.csv', 'viz_occ_relation_composition.csv', 'viz_occupation_skill_counts.csv', 'viz_heat_occ_skill_top30.csv', 'ai_links.csv', 'viz_network_links.csv', 'viz_network_nodes.csv', 'ai_edges_labeled.csv', 'viz_top_skills.csv']

In [16]:
import pandas as pd
from pathlib import Path

# Cartella progetto (adatta se serve, ma dovrebbe funzionare dal notebook dentro /notebooks)
PROJECT_ROOT = Path("..").resolve()

WEB_DATA = PROJECT_ROOT / "web" / "data"
INPUT = WEB_DATA / "ai_edges_labeled.csv"
OUTPUT = WEB_DATA / "viz_occ_relation_composition.csv"

print("Reading:", INPUT)
print("Writing:", OUTPUT)

Reading: /Users/darioonsori/esco-project/web/data/ai_edges_labeled.csv
Writing: /Users/darioonsori/esco-project/web/data/viz_occ_relation_composition.csv

In [17]:
df = pd.read_csv(INPUT)
df.head(), df.columns

(                                       occupation_id  \
 0  http://data.europa.eu/esco/occupation/04849c5c...
 1  http://data.europa.eu/esco/occupation/04849c5c...
 2  http://data.europa.eu/esco/occupation/04849c5c...
 3  http://data.europa.eu/esco/occupation/04849c5c...
 4  http://data.europa.eu/esco/occupation/0e99c929...

                                             skill_id  relation  \
 0  http://data.europa.eu/esco/skill/25f0ea33-b4a2...  optional
 1  http://data.europa.eu/esco/skill/4216e465-7baa...  optional
 2  http://data.europa.eu/esco/skill/47a49cd6-097d...  optional
 3  http://data.europa.eu/esco/skill/8369c2d6-c100...  optional
 4  http://data.europa.eu/esco/skill/25f0ea33-b4a2...  optional

                 occupation_label               skill_label        skill_type
 0  marine engineering technician               data mining         knowledge
 1  marine engineering technician       perform data mining  skill/competence
 2  marine engineering technician          analyse big data  skill/competence
 3  marine engineering technician  utilise machine learning  skill/competence
 4      renewable energy engineer               data mining         knowledge  ,
 Index(['occupation_id', 'skill_id', 'relation', 'occupation_label',
        'skill_label', 'skill_type'],
       dtype='object'))

In [18]:
# --- auto-detect columns (robusto) ---
possible_occ = ["occupation", "occupation_label", "occ_label", "occupationName", "occupation_name"]
possible_rel = ["relation", "relation_type", "relation_label", "essential_or_optional", "relationType", "rel"]

occ_col = next((c for c in possible_occ if c in df.columns), None)
rel_col = next((c for c in possible_rel if c in df.columns), None)

print("Detected occupation column:", occ_col)
print("Detected relation column:", rel_col)

# Se uno dei due è None, scegli tu manualmente guardando df.columns:
# occ_col = "....."
# rel_col = "....."

assert occ_col is not None, f"Non trovo la colonna occupation. Colonne disponibili: {list(df.columns)}"
assert rel_col is not None, f"Non trovo la colonna relation. Colonne disponibili: {list(df.columns)}"

Detected occupation column: occupation_label
Detected relation column: relation

In [19]:
tmp = df[[occ_col, rel_col]].copy()

# Normalizza testo (minuscole, spazi)
tmp[rel_col] = tmp[rel_col].astype(str).str.strip().str.lower()

# Teniamo solo essential/optional se nel file ci sono altre etichette
tmp = tmp[tmp[rel_col].isin(["essential", "optional"])].copy()

tmp.head(), tmp[rel_col].value_counts()

(                occupation_label  relation
 0  marine engineering technician  optional
 1  marine engineering technician  optional
 2  marine engineering technician  optional
 3  marine engineering technician  optional
 4      renewable energy engineer  optional,
 relation
 optional     117
 essential     81
 Name: count, dtype: int64)

In [20]:
composition = (
    tmp
    .groupby([occ_col, rel_col], as_index=False)
    .size()
    .rename(columns={occ_col: "occupation", rel_col: "relation", "size": "count"})
)

composition.head()

                              occupation   relation  count
0          ICT business analysis manager   optional      2
1  ICT information and knowledge manager  essential      1
2  ICT information and knowledge manager   optional      1
3                          IoT developer  essential      4
4                   application engineer   optional      2

In [21]:
# Salva TUTTE le occupations (nessun topN nel preprocessing)
OUTPUT = WEB_DATA_DIR / "viz_occ_relation_composition.csv"

# ordinamento stabile: per occupation e relation
# così il CSV è leggibile e consistente
composition_full = composition.sort_values(["occupation", "relation"]).copy()

composition_full.to_csv(OUTPUT, index=False)
print("Saved:", OUTPUT)
print("Rows:", len(composition_full))
print("Unique occupations:", composition_full["occupation"].nunique())

Saved: ../web/data/viz_occ_relation_composition.csv
Rows: 80
Unique occupations: 57